/* fonts */
@font-face {
font-family: 'Liberation Sans';
font-style: normal;
font-weight: normal;
src: local('Liberation Sans'), url('../fonts/LiberationSans-Regular.woff') format('woff');
}

@font-face {
font-family: 'Liberation Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Liberation Sans Bold Italic'), url('../fonts/LiberationSans-BoldItalic.woff') format('woff');
}

@font-face {
font-family: 'Liberation Sans Bold';
font-style: normal;
font-weight: normal;
src: local('Liberation Sans Bold'), url('../fonts/LiberationSans-Bold.woff') format('woff');
}

@font-face {
font-family: 'Liberation Sans Italic';
font-style: normal;
font-weight: normal;
src: local('Liberation Sans Italic'), url('../fonts/LiberationSans-Italic.woff') format('woff');
}

/* generic styles */
* {
	font-family: 'Liberation Sans';
}

label {
	color: #999999;
}

input {
	color: #000000;
}

/* specific styles */

.panel-heading {
	font-weight: bold;
	font-size: large;
}

.ajax-loader {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 64px;
	height: 64px;
	pointer-events: none;
	display: none;
	background-image: url('../images/ajax-loader.gif');
	background-size: contain;
	background-repeat: no-repeat;
}